<div class="max-w-sm bg-[#161616] rounded-lg overflow-hidden text-left h-full flex flex-1 flex-col box-shadow-card">
    <img class="w-full h-56 object-contain"
         src="{{projectItem.thumbnailLink}}"
         alt="Image of the property" loading="lazy"/>
    <div class="p-5">
        <span class="text-primary text-opacity-[35%] cursor-default">{{projectItem.projectCategory}}</span>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-primary cursor-default">
			<a class="cursor-pointer hover:underline focus:underline active:underline" *ngIf="projectItem.projectContactLink != ''" href="{{projectItem.projectContactLink}}" target="_blank">
				{{projectItem.projectName}}
			</a>
			<span *ngIf="projectItem.projectContactLink == ''">
				{{projectItem.projectName}}
			</span>
		</h5>
        <p class="mb-3 font-normal text-white cursor-default">{{projectItem.projectDescription}}</p>
    </div>
</div>
