<div class="my-10">
    <h1 class="hidden" aria-hidden="true">Jones Realty Inc.</h1>
    <div class="px-6 py-12 text-center md:px-12 lg:text-left">
      <div class="w-100 mx-auto sm:max-w-2xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl xl:px-32">
        <div class="grid items-center lg:grid-cols-2">
          <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
            <div
              class="block rounded-lg bg-[hsla(0,0%,20%,0.40)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14 backdrop-blur-[30px]">
              <h1 class="mt-2 mb-16 text-4xl font-bold tracking-tight md:text-5xl xl:text-6xl">
               Check Out Our <br /><span class="text-primary">New Properties</span>
              </h1>
              <a class="mb-2 inline-block rounded bg-primary px-12 pt-4 pb-3.5 text-sm uppercase leading-normal text-black font-bold shadow-[0_4px_9px_-4px_#FAFF00] transition duration-150 ease-in-out hover:bg-secondary hover:shadow-[0_8px_9px_-4px_rgba(177,32,22,0.3),0_4px_18px_0_rgba(177,32,22,0.2)] focus:bg-secondary focus:shadow-[0_8px_9px_-4px_rgba(177,32,22,0.3),0_4px_18px_0_rgba(177,32,22,0.2)] focus:outline-none focus:ring-0 active:bg-secondary active:shadow-[0_8px_9px_-4px_rgba(177,32,22,0.3),0_4px_18px_0_rgba(177,32,22,0.2)] md:mr-2 md:mb-0 hover:text-white active:text-white focus:text-white"
                 data-te-ripple-init data-te-ripple-color="light" [routerLink]="['properties']" role="button">View Properties</a>
              <a class="inline-block rounded px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-white transition duration-150 ease-in-out bg-neutral-700 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700 dark:hover:bg-opacity-40"
                 data-te-ripple-init data-te-ripple-color="light" [routerLink]="['media']" role="button">Gallery</a>
            </div>
          </div>
          <div class="md:mb-12 lg:mb-0">
            <div
              id="carousel"
              class="relative z-[-1]"
              data-te-carousel-init
              data-te-ride="carousel">
              <!--Carousel items-->
              <div
                class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
                <!--First item-->
                <div
                  class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                  data-te-carousel-item
                  data-te-carousel-active>
                  <img
                    ngSrc="./assets/Lofts/Lofts-slider-1.jpg"
                    class="block w-full"
                    alt="Wild Landscape" height="990" width="1320"/>
                </div>
                <!--Second item-->
                <div
                  class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                  data-te-carousel-item>
                  <img
                    ngSrc="./assets/Lofts/Lofts-slider-2.jpg"
                    class="block w-full"
                    alt="Camera" height="990" width="1320"/>
                </div>
                <!--Third item-->
                <div
                  class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                  data-te-carousel-item>
                  <img
                    ngSrc="./assets/Lofts/Loft-slider-3.jpg"
                    class="block w-full"
                    alt="Exotic Fruits" height="990" width="1320"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Featured Property-->
    <section
            class="text-center grid md:grid-cols-2 grid-cols-1">
            <h2 class="text-center lg:text-3xl text-2xl text-primary m-5 md:col-span-2 shadow-secondary">
            Featured <br> Amherstburg Properties</h2>

      <!--Modal 1-->
      <a
        type="button"
        class="inline-block rounded mb-2 mt-2.5 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:cursor-pointer overflow-hidden md:w-full w-[85%] mx-auto"
        data-te-toggle="modal"
        data-te-target="#modal"
        data-te-ripple-init
        data-te-ripple-color="dark">
        <div
          class="relative max-w-4xl overflow-hidden bg-cover bg-no-repeat h-full"
          data-te-ripple-init
          data-te-ripple-color="black">
          <img
            ngSrc="./assets/Lofts/Loft-Front-View.JPG"
            class="max-w-full object-cover"
            alt="Front view of St. Anthony's Lofts."
            title="Featured Property"
            loading="lazy" height="1536" width="2048"/>
          <div
            class="hover:backdrop-blur absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,11%,0.8)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 flex flex-col justify-center items-center">
            <h3 class="lg:text-xl text-primary font-bold">St. Anthony's Lofts. Amherstburg, ON.</h3>
            <p class="text-white text-opacity-65">
              View Lofts with a example model
            </p>
          </div>
        </div>
      </a>
      <div
        data-te-modal-init
        class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
        id="modal"
        tabindex="-1"
        aria-labelledby="modalLabel"
        aria-hidden="true">
        <div
          data-te-modal-dialog-ref
          class="bg-[#1e1e1e] pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]">
          <div
            class="bg-[#1e1e1e] min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
            <div
              class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50 bg-[#1e1e1e]">
              <!--Modal title-->
              <h2
                class="text-xl font-medium leading-normal text-primary dark:text-neutral-200 bg-[#1e1e1e]"
                id="modalLabel">
                St. Anthony's Lofts. Amherstburg, ON.
              </h2>
              <!--Close button-->
              <button
                type="button"
                class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none bg-[#1e1e1e]"
                data-te-modal-dismiss
                aria-label="Close">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="h-6 w-6">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>
            </div>

            <!--Modal body-->
            <div class="relative flex-auto p-4 bg-[#1e1e1e]"
                 data-te-modal-body-ref>
              <img ngSrc="./assets/Lofts/Loft-Front-View.JPG"
                   alt="overhead view of a boat marina" height="1536" width="2048">
              <section>
                <h3 class="text-center text-primary text-xl m-2">Contact
                  Info</h3>
                <section class="flex flex-col">
                  <div class="flex flex-row items-center justify-center">
                    <question-mark-circle-outline-icon
                      class="me-2" color="#FAFF00" stroke="2"></question-mark-circle-outline-icon>
                    <a href="https://www.instagram.com/liveatthelofts/?hl=en"
                       class="text-white hover:text-primary">
                      Visit Us!
                    </a>
                  </div>
                </section>
              </section>
            </div>

            <!--Modal footer-->
            <div
              class="flex flex-shrink-0 flex-wrap items-center justify-center dark:border-opacity-50 hover:bg-gradient-to-r focus:bg-gradient-to-r from-secondary to-primary p-0.5 mx-auto my-2 hover:animate-gradient-x focus:animate-gradient-x">
              <button
                type="button"
                class="inline-block px-6 py-2 text-xs font-medium uppercase leading-normal bg-[#1e1e1e]"
                data-te-modal-dismiss
                data-te-ripple-init
                data-te-ripple-color="dark">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <section class="flex flex-col items-center md:ml-10 justify-center">
        <span
          class="inline-block whitespace-nowrap rounded-[0.27rem] bg-primary px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-black m-5"
        >New</span>
        <article class="text-4xl">
          St. Anthony's Lofts <br> Available Soon!
        </article>
        <a
          href="https://www.instagram.com/liveatthelofts/?hl=en"
          class="inline-block m-5 rounded border-2 border-primary px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-primary-600 focus:border-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init>
          Learn More!
        </a>
      </section>

      <hr
        class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-primary to-transparent opacity-25 dark:opacity-100 md:col-span-2" />

      <section class="flex flex-col items-center md:mr-10 justify-center">
        <span
          class="inline-block whitespace-nowrap rounded-[0.27rem] bg-primary px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-black m-5"
        >New</span>
        <article class="text-4xl">
          Richmond Praedium Coming Soon!
        </article>
        <p class="text-neutral-500">Anticipated February 2024</p>
        <a
          href="https://www.facebook.com/profile.php?id=61551698053689"
          class="inline-block m-5 rounded border-2 border-primary px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-primary-600 focus:border-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init>
          Learn More!
        </a>
      </section>

      <!-- Modal 2 -->
      <a
        type="button"
        class="inline-block rounded mb-2 mt-2.5 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:cursor-pointer overflow-hidden md:w-full w-[85%] mx-auto"
        data-te-toggle="modal"
        data-te-target="#modal2"
        data-te-ripple-init
        data-te-ripple-color="dark">
        <div
          class="relative max-w-4xl overflow-hidden bg-cover bg-no-repeat h-full"
          data-te-ripple-init
          data-te-ripple-color="black">
          <img
            ngSrc="./assets/Richmond/Building-Render.jpg"
            class="max-w-full object-cover"
            alt="overhead view of a boat marina"
            title="Featured Property"
            loading="lazy" height="2174" width="3606"/>
          <div
            class="hover:backdrop-blur absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,11%,0.8)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 flex flex-col justify-center items-center">
            <h3 class="lg:text-xl text-primary font-bold">Richmond Praedium. Amherstburg, ON.</h3>
            <p class="text-white text-opacity-65">
              Apartments Available for rent.
            </p>
          </div>
        </div>
      </a>
      <div
        data-te-modal-init
        class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
        id="modal2"
        tabindex="-1"
        aria-labelledby="modalLabel2"
        aria-hidden="true">
        <div
          data-te-modal-dialog-ref
          class="bg-[#1e1e1e] pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]">
          <div
            class="bg-[#1e1e1e] min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
            <div
              class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50 bg-[#1e1e1e]">
              <!--Modal title-->
              <h2
                class="text-xl font-medium leading-normal text-primary dark:text-neutral-200 bg-[#1e1e1e]"
                id="modalLabel2">
                Richmond Praedium. Amherstburg, ON.
              </h2>
              <!--Close button-->
              <button
                type="button"
                class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none bg-[#1e1e1e]"
                data-te-modal-dismiss
                aria-label="Close">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="h-6 w-6">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>
            </div>

            <!--Modal body-->
            <div class="relative flex-auto p-4 bg-[#1e1e1e]"
                 data-te-modal-body-ref>
<!--              <img ngSrc="./assets/Richmond/Building-Render.jpg"-->
<!--                   alt="overhead view of a boat marina" height="2174" width="3606">-->
                <div
                  id="carousel2"
                  class="relative"
                  data-te-carousel-init
                  data-te-ride="carousel2">
                  <!--Carousel indicators-->
                  <div
                    class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
                    data-te-carousel-indicators>
                    <button
                      type="button"
                      data-te-target="#carousel2"
                      data-te-slide-to="0"
                      data-te-carousel-active
                      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                      aria-current="true"
                      aria-label="Slide 1"></button>
                    <button
                      type="button"
                      data-te-target="#carousel2"
                      data-te-slide-to="1"
                      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                      aria-label="Slide 2"></button>
                    <button
                      type="button"
                      data-te-target="#carousel2"
                      data-te-slide-to="2"
                      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                      aria-label="Slide 3"></button>
                  </div>

                  <!--Carousel items-->
                  <div
                    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
                    <!--First item-->
                    <div
                      class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                      data-te-carousel-item
                      data-te-carousel-active>
                      <img
                        ngSrc="./assets/Richmond/Front-Perspective-Revised.png"
                        class="block w-full"
                        alt="rendering of an apartment building" height="1069" width="1654"/>
                    </div>
                    <!--Second item-->
                    <div
                      class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                      data-te-carousel-item>
                      <img
                        ngSrc="./assets/Richmond/207%20Site%20Plan.jpg"
                        class="block w-full"
                        alt="Camera" height="1069" width="1654"/>
                    </div>
                    <!--Third item-->
                    <div
                      class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                      data-te-carousel-item>
                      <img
                        ngSrc="./assets/Richmond/207%20-%20Location%20Map.jpg"
                        class="block w-full"
                        alt="Exotic Fruits" height="1069" width="1654"/>
                    </div>
                  </div>

                  <!--Carousel controls - prev item-->
                  <button
                    class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                    type="button"
                    data-te-target="#carousel2"
                    data-te-slide="prev">
                    <span class="inline-block h-8 w-8">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15.75 19.5L8.25 12l7.5-7.5" />
                      </svg>
                    </span>
                    <span
                      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                    >Previous</span>
                  </button>
                  <!--Carousel controls - next item-->
                  <button
                    class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                    type="button"
                    data-te-target="#carousel2"
                    data-te-slide="next">
                    <span class="inline-block h-8 w-8">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                      </svg>
                    </span>
                    <span
                      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                    >Next</span>
                  </button>
                </div>
              <section>
                <h3 class="text-center text-primary text-xl m-2">Contact
                  Info</h3>
                <section class="flex flex-col">
                  <div class="flex flex-row items-center justify-center">

                  </div>
                  <div class="flex flex-row items-center justify-center">
                    <question-mark-circle-outline-icon
                      class="me-2"></question-mark-circle-outline-icon>
                    <a href="https://www.facebook.com/profile.php?id=61551698053689"
                       class="text-white hover:text-primary">
                      Visit Us!
                    </a>
                  </div>
                </section>
              </section>
            </div>

            <!--Modal footer-->
            <div
              class="flex flex-shrink-0 flex-wrap items-center justify-center dark:border-opacity-50 hover:bg-gradient-to-r focus:bg-gradient-to-r from-secondary to-primary p-0.5 mx-auto my-2 hover:animate-gradient-x focus:animate-gradient-x">
              <button
                type="button"
                class="inline-block px-6 py-2 text-xs font-medium uppercase leading-normal bg-[#1e1e1e]"
                data-te-modal-dismiss
                data-te-ripple-init
                data-te-ripple-color="dark">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Contact / Info Section-->
    <section class="flex flex-col lg:flex-row items-center m-5 p-3">
            <div class="md:w-[50%] text-center">
            <p class="text-primary text-center p-2 m-2 mobile-text ">Want to
                    learn
                    more about the company?</p>
            <a [routerLink]="['company']"
            class=" rounded-xl bg-black px-5 py-2 m-2 h-[44px] hover:text-primary focus:text-primary hover:bg-[#111111] focus:bg-[#111111] active:text-primary active:bg-[#111111]">Learn
                    More</a>
            </div>
            <div class="md:w-[50%] text-center">
            <p class="text-primary text-center p-2 m-2 mobile-text">Want to
                    learn
                    more about developing with us?</p>
            <a [routerLink]="['company']" fragment="contact"
            class="rounded-xl bg-black px-5 py-2 m-2 h-[44px] hover:text-primary focus:text-primary hover:bg-[#111111] focus:bg-[#111111] active:text-primary active:bg-[#111111]">Let's
                    Talk</a>
            </div>
    </section>
</div>




