<div class="splash-screen fixed top-0 left-0 right-0 bottom-0 w-full h-full flex flex-col justify-center items-center bg-neutral-800 z-[100]">
  <div class="splash-inner">
    <div class="logo ml-[-0.75rem]">
      <img alt="Jones Realty logo" src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/JonesRealtyLogo.png">
    </div>
    <div class="spinner my-3 w-12 mx-auto">
      <div
      class="inline-block h-12 w-12 animate-spin rounded-full border-4 border-solid border-current border-r-transparent text-primary motion-reduce:animate-[spin_1.5s_linear_infinite]"
      role="status">
        <span
          class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Loading...</span>
      </div>
    </div>
  </div>
</div>
