<div *ngIf="property.address" class="text-center">
	<h1 class="text-primary text-3xl m-5">{{property.address}}</h1>
	<img class="mx-auto" src="{{property.thumbnailLink}}" alt="{{property.altText}}">
	<h2 class="text-primary text-2xl font-bold mt-5 text-center">Contact Us!</h2>
		<hr
			class="my-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-primary to-transparent opacity-25 dark:opacity-100 md:col-span-2" />
		<section class="flex justify-center items-center">
			<div class="flex text-center p-5" *ngIf="property.contactLink">
				<question-mark-circle-outline-icon class="lg:w-6 lg:h-6 w-10 h-10 mx-2.5"></question-mark-circle-outline-icon>
				<a class="cursor-pointer hover:text-primary active:text-primary focus:text-primary my-auto text-xl"
				   href="{{property.contactLink}}"
				   target="_blank">
					Get in contact with us!
				</a>
			</div>

			<div class="flex text-center p-5" *ngIf="!property.contactLink">
				<question-mark-circle-outline-icon class="lg:w-6 lg:h-6 w-10 h-10 mx-2.5"></question-mark-circle-outline-icon>
				<a class="cursor-pointer hover:text-primary active:text-primary focus:text-primary my-auto text-xl"
				   [routerLink]="['/company']">
					Get in contact with us!
				</a>
			</div>

			<div class="flex text-center p-5" *ngIf="property.listingLink">
				<home-modern-outline-icon class="lg:w-6 lg:h-6 w-10 h-10 mx-2.5"></home-modern-outline-icon>
				<p class="text-xl">
					<a href="{{property.listingLink}}" target="_blank"
					   class="cursor-pointer hover:text-primary active:text-primary focus:text-primary my-auto">Check out the listing</a>.
				</p>
			</div>
	</section>
</div>

<app-not-found *ngIf="!property.address"></app-not-found>
