<section class="text-center text-secondary p-2 min-h-[80vh] flex flex-col justify-center items-center">
	<img class="mx-auto" alt="Jones Realty logo" src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/JonesRealtyLogo.png">
    <p class="md:text-6xl text-4xl font-bold">404</p>
    <p class="md:text-4xl text-2xl">Page Not Found!</p>
    <p class="md:text-1xl text-xl my-5 text-white">Looks like you're looking for
        something
        that
        doesn't
        exist. Head back <a [routerLink]="['/']"
                            class="text-primary active:underline focus:underline hover:underline">Home</a>
        to find what you're
        looking for.</p>
</section>

