<div class="items-center my-10">
    <h1 class="hidden" aria-hidden="true">Jones Realty Inc. About / Contact</h1>
    <section>
        <h2 class="text-3xl lg:text-3xl text-primary lg:text-center px-5 lg:p-0">
            About Our
            Company</h2>
        <div class="lg:text-center flex flex-col w-3/4 ms-5 lg:block lg:mx-auto">
            <p class="lg:text-center lg:p-5 pt-2 mx-auto lg:text-[1.25rem]">
                Founded in 2015, Jones Realty Inc. is a property management and
                commercial investing company
                based out of Amherstburg, ON. Our mission is to develop our
                community to bring the best to our town.
            </p>
        </div>
    </section>
    <section class="mb-32 lg:w-[75%] mx-auto">
      <app-contact></app-contact>
    </section>
</div>

