<div class="items-center my-10">
    <h1 class="hidden" aria-hidden="true">Jones Realty Inc. About / Contact</h1>
    <section>
        <h2 class="text-2xl lg:text-3xl text-primary lg:text-center px-5 lg:p-0">
            About Our
            Company</h2>
        <div class="lg:text-center flex flex-col w-3/4 ms-5 lg:block lg:mx-auto">
            <p class="lg:text-center lg:p-5 pt-2 mx-auto lg:text-[1.25rem]">
                Founded in 2015, Jones Realty Inc. is a property management and
                commercial investing company
                based out of Amherstburg, ON. Our mission is to develop our
                community to bring the best to our town.
            </p>
            <span class="lg:text-center lg:w-1/2 mt-5">We are proud to be a division of <a
                    href="https://www.jonesgroup.ca/"
                    class="text-primary hover:underline focus:underline active:underline">Jones Group Inc</a>, one of the largest demolition companies in Canada.</span>
        </div>
    </section>
    <section class="lg:mt-[7.5rem] mt-[4rem]">
        <h2 class="text-xl lg:text-2xl text-primary lg:text-center px-5 lg:p-0">
            Contact
            Us!</h2>
        <section
                class="mx-auto flex justify-center flex-col lg:flex-row">
            <div class="flex lg:flex-row lg:p-1 px-5 py-2">
                <envelope-outline-icon class="m-1 mt-0"
                                       color="#FFFF40"></envelope-outline-icon>
                <div>
                    <p>How can we Help?</p>
                    <a href="mailto:mackie.jones@jonesgroup.ca"
                       class="hover:text-primary focus:text-primary">mackie.jones@jonesgroup.ca</a>
                </div>
            </div>
            <div class="flex lg:flex-row lg:p-1 px-5 py-2">
                <map-pin-outline-icon class="m-1 mt-0"
                                      color="#FFFF40"></map-pin-outline-icon>
                <div>
                    <p>Our Location</p>
                    <a class="hover:text-primary focus:text-primary"
                       href="https://www.google.com/maps/place/5+Renaud+St,+Amherstburg,+ON+N9V+4B1/@42.1105476,-83.0982764,17z/data=!3m1!4b1!4m5!3m4!1s0x883b3b5ec05b30eb:0x78a6ae2ad7a0dbc4!8m2!3d42.1105436!4d-83.0957015?entry=ttu">5
                        Renaud Street, Amhertsburg, ON.</a>
                </div>
            </div>
            <div class="flex lg:flex-row lg:p-1 px-5 py-2">
                <phone-outline-icon class="m-1 mt-0"
                                    color="#FFFF40"></phone-outline-icon>
                <div>
                    <p>Give Us a Call</p>
                    <a href="tel:2263459045"
                       class="hover:text-primary focus:text-primary">226-345-9045</a>
                </div>
            </div>
        </section>
    </section>
</div>

