<div class="items-center my-10">
    <h1 class="hidden" aria-hidden="true">Jones Realty Inc. About / Contact</h1>
    <section>
        <h2 class="text-3xl lg:text-3xl text-primary lg:text-center px-5 lg:p-0">
            About Our
            Company</h2>
        <div class="lg:text-center flex flex-col w-3/4 ms-5 lg:block lg:mx-auto">
            <p class="lg:text-center lg:p-5 pt-2 mx-auto lg:text-[1.25rem]">
                Founded in 2015, Jones Realty Inc. is a property management and
                commercial investing company
                based out of Amherstburg, ON. Our mission is to develop our
                community to bring the best to our town.
            </p>
        </div>
    </section>
    <section class="mb-32">
      <h3 class="text-3xl text-primary text-center m-5">Get In Contact With Us!</h3>
      <div
        class="block rounded-lg bg-neutral-700 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <div class="h-[500px] w-full">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2960.218666597913!2d-83.11498882342418!3d42.10278745131588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b3c84be9eabd1%3A0x244ccac3ab5bb14a!2s56%20Richmond%20St%2C%20Amherstburg%2C%20ON%20N9V%201E9!5e0!3m2!1sen!2sca!4v1697147662755!5m2!1sen!2sca"
                      class="left-0 top-0 h-full w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" frameborder="0"
                      allowfullscreen></iframe>
            </div>
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="flex flex-wrap px-3 pt-12 pb-12 md:pb-0 lg:pt-0">
              <div class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:w-6/12 md:px-6 lg:w-full xl:w-6/12 xl:px-12">
                <div class="flex items-start">
                  <div class="shrink-0">
                    <div class="inline-block rounded-md bg-primary-100 p-4 text-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                           stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                      </svg>
                    </div>
                  </div>
                  <div class="ml-6 grow">
                    <p class="mb-2 font-bold dark:text-white">
                      Phone
                    </p>
                    <p class="text-neutral-500 dark:text-neutral-200">
                      <a href="tel:226-345-9045" class="cursor-pointer hover:text-primary active:text-primary focus:text-primary hover:underline active:underline focus:underline">+1 226-345-9045</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:w-6/12 md:px-6 lg:w-full xl:w-6/12 xl:px-12">
                <div class="flex items-start">
                  <div class="shrink-0">
                    <div class="inline-block rounded-md bg-primary-100 p-4 text-primary">
                      <envelope-outline-icon class="h-6 w-6" stroke="2"
                                             color="#FFFF40"></envelope-outline-icon>
                    </div>
                  </div>
                  <div class="ml-6 grow">
                    <p class="mb-2 font-bold dark:text-white">
                      Email
                    </p>
                    <p class="text-neutral-500 dark:text-neutral-200">
                      <a href="mailto:mackie.jones@jonesgroup.ca" class="cursor-pointer hover:text-primary active:text-primary focus:text-primary hover:underline active:underline focus:underline">mackie.jones@jonesgroup.ca</a>
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:w-6/12 md:px-6 lg:w-full xl:mb-0 xl:w-6/12 xl:px-12">
                <div class="align-start flex">
                  <div class="shrink-0">
                    <div class="inline-block rounded-md bg-primary-100 p-4 text-primary">
                      <map-pin-outline-icon class="h-6 w-6" stroke="2"
                                            color="#FFFF40"></map-pin-outline-icon>
                    </div>
                  </div>
                  <div class="ml-6 grow">
                    <p class="mb-2 font-bold dark:text-white">Location</p>
                    <p class="text-neutral-500 dark:text-neutral-200">
                      56 Richmond Street, Amherstburg, Ontario.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

