<div class="container mx-auto px-5 py-10 lg:px-32">
    <h1 class="hidden" aria-hidden="true">Jones Realty Inc. Media</h1>
    <!--    <h2 class="lg:text-3xl text-xl text-primary text-center pb-3">Our Photo-->
    <!--        Gallery</h2>-->

    <ul
      class="mb-5 flex list-none md:flex-row flex-wrap border-b-0 pl-0 flex-col"
      role="tablist"
      data-te-nav-ref>
      <li role="presentation">
        <a
          href="#tabs-lofts"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-lofts"
          data-te-nav-active
          role="tab"
          aria-controls="tabs-home0"
          aria-selected="true"
        >St. Anthony's Lofts. Amherstburg, ON.</a>
      </li>
      <li role="presentation">
        <a
          href="#tabs-yc"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-yc"
          role="tab"
          aria-controls="tabs-yc"
          aria-selected="false"
        >Amherstburg & River Canard Yacht Clubs</a>
      </li>
      <li role="presentation">
        <a
          href="#tabs-mj"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-mj"
          role="tab"
          aria-controls="tabs-mj"
          aria-selected="false"
        >Miss MJ Ship. Amherstburg, ON.</a
        >
      </li>
      <li role="presentation">
        <a
          href="#tabs-richmond"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-richmond"
          role="tab"
          aria-controls="tabs-richmond"
          aria-selected="false"
        >Richmond Praedium</a>
      </li>
      <li role="presentation">
        <a
          href="#tabs-articles"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-articles"
          role="tab"
          aria-controls="tabs-articles"
          aria-selected="false"
        >Articles</a>
      </li>
    </ul>
      <div class="mb-6">
        <div
          class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
          id="tabs-lofts"
          role="tabpanel"
          aria-labelledby="tabs-lofts"
          data-te-tab-active
          data-te-lightbox-init>
          <div class="px-5 py-4">
            <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/tr:w-600/Jones%20Realty/Lofts-kitchen.JPG"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-kitchen.JPG"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/tr:w-600/Jones%20Realty/Lofts-kitchen-2.JPG"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-kitchen-2.JPG"/>
                </div>
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/tr:w-800/Jones%20Realty/Lofts-living-room.JPG"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-living-room.JPG"/>
                </div>
              </div>
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/tr:w-800/Jones%20Realty/Lofts-living-room-2.JPG"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-living-room-2.JPG"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/tr:w-600/Jones%20Realty/Lofts-dining-room.JPG"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-dining-room.JPG"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/tr:w-600/Jones%20Realty/Lofts-bedroom.JPG"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-bedroom.JPG"/>
                </div>
              </div>
            </div>
          </div>
          <div class="px-5 py-4">
            <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/tr:w-600/Jones%20Realty/Lofts-bedroom-2.JPG"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-bedroom-2.JPG"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/tr:w-600/Jones%20Realty/Lofts-bathroom.JPG"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-bathroom.JPG"/>
                </div>
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-bathroom-2.JPG?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-bathroom-2.JPG"/>
                </div>
              </div>
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/tr:w-800/Jones%20Realty/Lofts-bathroom-3.JPG"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-bathroom-3.JPG"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-bedroom-3.JPG?tr=w-600"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-bedroom-3.JPG"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-balcony.JPG?tr=w-600"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-balcony.JPG"/>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div
          class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
          id="tabs-yc"
          role="tabpanel"
          aria-labelledby="tabs-yc"
          data-te-lightbox-init>
          <div class="container mx-auto px-5 py-2 lg:px-12 lg:pt-12">
            <div class="-m-1 flex md:grid md:grid-cols-3 md:-m-2 flex-col">
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/ayc.jpeg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/ayc.jpeg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/rcyc.jpg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/docks.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/docks.jpg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/docks-2.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/docks-2.jpg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/docks-3.jpg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/docks-4.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/docks-4.jpg"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
          id="tabs-mj"
          role="tabpanel"
          aria-labelledby="tabs-mj" data-te-lightbox-init>
          <div class="container mx-auto px-5 py-2 lg:px-12 lg:pt-12">
            <div class="-m-1 flex md:grid grid-cols-3 flex-col md:-m-2">
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/bow-shot.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/bow-shot.jpg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/distant-bow.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/distant-bow.jpg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/mj-being-towed.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/mj-being-towed.jpg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/distant-angled.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/distant-angled.jpg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/full-ship.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/full-ship.jpg"/>
                </div>
              </div>
              <div class="flex  w-full flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/mj-being-towed-2.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/mj-being-towed-2.jpg"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
          id="tabs-richmond"
          role="tabpanel"
          aria-labelledby="tabs-richmond" data-te-lightbox-init>
          <div class="px-5 py-4">
            <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Building-Render.jpg?tr=w-600"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Building-Render.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%20Location%20Map.jpg?tr=w-600"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%20Location%20Map.jpg"/>
                </div>
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20Site%20Plan.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20Site%20Plan.jpg"/>
                </div>
              </div>
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%201st%20Flr%20Plan.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%201st%20Flr%20Plan.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207-2-floor-plan.jpg?tr=w-600"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207-2-floor-plan.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%203rd%20Flr%20Plan.jpg?tr=w-600"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%203rd%20Flr%20Plan.jpg"/>
                </div>
              </div>
            </div>
          </div>
          <div class="px-5 py-4">
            <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%204th%20Flr%20Plan.jpg?tr=w-600"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%204th%20Flr%20Plan.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%202%20Bedroom%20Layout.jpg?tr=w-600"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%202%20Bedroom%20Layout.jpg"/>
                </div>
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Front-Perspective-Revised.png?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Front-Perspective-Revised.png"/>
                </div>
              </div>
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Construction%20Site.jpg?tr=w-800"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Construction%20Site.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%203%20Bedroom%20Layout.jpg?tr=w-600"
                    data-te-img="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/207%20-%203%20Bedroom%20Layout.jpg"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
          id="tabs-articles"
          role="tabpanel"
          aria-labelledby="tabs-articles">
          <section class="flex flex-col md:grid md:grid-cols-2">
            <h2 class="text-3xl col-span-2 text-center">Check Out These Articles</h2>
            <article class="m-5">
              <div
                class="flex flex-col h-full rounded-lg bg-neutral-700 text-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:max-w-lg xl:flex-row mobile-card">
                <img
                  class="h-96 w-full rounded-t-lg object-cover md:h-auto md:!rounded-none md:!rounded-l-lg mobile-img chrome-img"
                  src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/bow-shot.jpg?tr=w-600"
                  alt="Image of a ship at a dock"/>
                <div class="flex flex-col justify-start p-6">
                  <h5
                    class="mb-2 text-xl font-medium text-neutral-50">
                    River Town Times - Miss MJ
                  </h5>
                  <p class="mb-4 text-base text-neutral-200">
                    River Town Times wrote a small article about the Miss MJ Project, with an interview from Mackie Jones.
                  </p>
                  <p class="text-xs text-neutral-300">
                    Check it out <a href="https://issuu.com/rivertowntimes2/docs/rttsmallsep20" class="text-primary underline">Here</a>
                  </p>
                </div>
              </div>
            </article>
            <article class="m-5">
              <div
                class="flex flex-col h-full rounded-lg bg-neutral-700 text-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:max-w-xl xl:flex-row mobile-card">
                <img
                  class="h-96 w-full rounded-t-lg object-cover md:h-auto md:!rounded-none md:!rounded-l-lg mobile-img chrome-img"
                  src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/full-ship.jpg?tr=w-600"
                  alt="Image of a ship at a dock"/>
                <div class="flex flex-col justify-start p-6">
                  <h5
                    class="mb-2 text-xl font-medium text-neutral-50">
                    AM800 - Miss MJ
                  </h5>
                  <p class="mb-4 text-base text-neutral-200 ">
                    A small Advertisement of the Miss MJ Ship Project on IHeartRadio's website.
                  </p>
                  <p class="text-xs text-neutral-300">
                    Check it out <a href="https://www.iheartradio.ca/am800/audio/a-160-foot-former-canadian-coast-guard-ship-is-to-become-a-restaurant-and-hotel-in-amherstburg-1.20276117" class="text-primary underline">Here</a>
                  </p>
                </div>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>

