<div class="container mx-auto px-5 py-10 lg:px-32">
    <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
        <div class="flex lg:w-1/2 flex-wrap">
            <div class="lg:w-1/2 p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/room1.jpeg"/>
            </div>
            <div class="lg:w-1/2 p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/room2.jpeg"/>
            </div>
            <div class="w-full p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/ayc.jpeg"/>
            </div>
        </div>
        <div class="flex lg:w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/building1.jpeg"/>
            </div>
            <div class="lg:w-1/2 p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/room3.jpeg"/>
            </div>
            <div class="lg:w-1/2 p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/room4.jpeg"/>
            </div>
        </div>
    </div>

    <!--  Second Section  -->
    <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
        <div class="flex lg:w-1/2 flex-wrap">
            <div class="lg:w-1/2 p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/room5.jpg"/>
            </div>
            <div class="lg:w-1/2 p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/room6.jpg"/>
            </div>
            <div class="w-full p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/room7.jpg"/>
            </div>
        </div>
        <div class="flex lg:w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/demo.jpg"/>
            </div>
            <div class="lg:w-1/2 p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/washroom.jpg"/>
            </div>
            <div class="lg:w-1/2 p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="./assets/stairs2.jpg"/>
            </div>
        </div>
    </div>
</div>
