<div class="container mx-auto px-5 py-10 lg:px-32">
    <h1 class="hidden" aria-hidden="true">Jones Realty Inc. Media</h1>
    <!--    <h2 class="lg:text-3xl text-xl text-primary text-center pb-3">Our Photo-->
    <!--        Gallery</h2>-->

    <ul
      class="mb-5 flex list-none md:flex-row flex-wrap border-b-0 pl-0 flex-col"
      role="tablist"
      data-te-nav-ref>
      <li role="presentation">
        <a
          href="#tabs-lofts"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-lofts"
          data-te-nav-active
          role="tab"
          aria-controls="tabs-home0"
          aria-selected="true"
        >St. Anthony's Lofts. Amherstburg, ON.</a>
      </li>
      <li role="presentation">
        <a
          href="#tabs-yc"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-yc"
          role="tab"
          aria-controls="tabs-yc"
          aria-selected="false"
        >Amherstburg & River Canard Yacht Clubs</a>
      </li>
      <li role="presentation">
        <a
          href="#tabs-mj"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-mj"
          role="tab"
          aria-controls="tabs-mj"
          aria-selected="false"
        >Miss MJ Ship. Amherstburg, ON.</a
        >
      </li>
      <li role="presentation">
        <a
          href="#tabs-richmond"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-richmond"
          role="tab"
          aria-controls="tabs-richmond"
          aria-selected="false"
        >Richmond Praedium</a>
      </li>
      <li role="presentation">
        <a
          href="#tabs-articles"
          class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
          data-te-toggle="pill"
          data-te-target="#tabs-articles"
          role="tab"
          aria-controls="tabs-articles"
          aria-selected="false"
        >Articles</a>
      </li>
    </ul>
    <div class="mb-6">
      <div
        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
        id="tabs-lofts"
        role="tabpanel"
        aria-labelledby="tabs-lofts"
        data-te-tab-active
        data-te-lightbox-init>
        <div class="px-5 py-4">
          <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
            <div class="flex lg:w-1/2 flex-wrap">
              <div class="lg:w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-kitchen.JPG" height="1536" width="2048"
                  data-te-img="./assets/Lofts/Lofts-kitchen.JPG"/>
              </div>
              <div class="lg:w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-kitchen-2.JPG" height="1536" width="2048"
                  data-te-img="./assets/Lofts/Lofts-kitchen-2.JPG"/>
              </div>
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-living-room.JPG" height="1536" width="2048"
                  data-te-img="./assets/Lofts/Lofts-living-room.JPG"/>
              </div>
            </div>
            <div class="flex lg:w-1/2 flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-living-room-2.JPG" height="1536"
                  width="2048"
                  data-te-img="./assets/Lofts/Lofts-living-room-2.JPG"/>
              </div>
              <div class="lg:w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-dining-room.JPG" height="1536" width="2048"
                  data-te-img="./assets/Lofts/Lofts-dining-room.JPG"/>
              </div>
              <div class="lg:w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-bedroom.JPG" height="1536" width="2048"
                  data-te-img="./assets/Lofts/Lofts-bedroom.JPG"/>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5 py-4">
          <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
            <div class="flex lg:w-1/2 flex-wrap">
              <div class="lg:w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-bedroom-2.JPG" height="1536" width="2048"
                  data-te-img="./assets/Lofts/Lofts-bedroom-2.JPG"/>
              </div>
              <div class="lg:w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-bathroom.JPG" height="1536" width="2047"
                  data-te-img="./assets/Lofts/Lofts-bathroom.JPG"/>
              </div>
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-bathroom-2.JPG" height="1536" width="2048"
                  data-te-img="./assets/Lofts/Lofts-bathroom-2.JPG"/>
              </div>
            </div>
            <div class="flex lg:w-1/2 flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-bathroom-3.JPG" height="1536"
                  width="1152"
                  data-te-img="./assets/Lofts/Lofts-bathroom-3.JPG"/>
              </div>
              <div class="lg:w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-bedroom-3.JPG" height="1536" width="2047"
                  data-te-img="./assets/Lofts/Lofts-bedroom-3.JPG"/>
              </div>
              <div class="lg:w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/Lofts/Lofts-balcony.JPG" height="1536" width="2048"
                  data-te-img="./assets/Lofts/Lofts-balcony.JPG"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
        id="tabs-yc"
        role="tabpanel"
        aria-labelledby="tabs-yc"
        data-te-lightbox-init>
        <div class="container mx-auto px-5 py-2 lg:px-12 lg:pt-12">
          <div class="-m-1 flex md:grid md:grid-cols-3 md:-m-2 flex-col">
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/ayc.jpeg"
                  data-te-img="./assets/ayc.jpeg" height="1814" width="2972"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/rcyc.jpg"
                  height="330" width="540"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/docks.jpg"
                  data-te-img="./assets/docks.jpg" height="4080" width="6120"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/docks-2.jpg"
                  data-te-img="./assets/docks-2.jpg" height="959" width="1440"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/docks-3.jpg"
                  height="359" width="639"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/docks-4.jpg" height="952" width="1440"
                  data-te-img="./assets/docks-4.jpg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
        id="tabs-mj"
        role="tabpanel"
        aria-labelledby="tabs-mj" data-te-lightbox-init>
        <div class="container mx-auto px-5 py-2 lg:px-12 lg:pt-12">
          <div class="-m-1 flex md:grid grid-cols-3 flex-col md:-m-2">
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/MissMJ/bow-shot.jpg"
                  data-te-img="./assets/MissMJ/bow-shot.jpg" height="998" width="1440"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/MissMJ/distant-bow.jpg"
                  data-te-img="./assets/MissMJ/distant-bow.jpg" height="997" width="1440"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/MissMJ/mj-being-towed.jpg"
                  data-te-img="./assets/MissMJ/mj-being-towed.jpg" height="1800" width="1440"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/MissMJ/distant-angled.jpg"
                  data-te-img="./assets/MissMJ/distant-angled.jpg" height="996" width="1440"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/MissMJ/full-ship.jpg"
                  data-te-img="./assets/MissMJ/full-ship.jpg" height="998" width="1440"/>
              </div>
            </div>
            <div class="flex  w-full flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                  ngSrc="./assets/MissMJ/mj-being-towed-2.jpg"
                  data-te-img="./assets/MissMJ/mj-being-towed-2.jpg" height="595" width="802"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
        id="tabs-articles"
        role="tabpanel"
        aria-labelledby="tabs-articles">
        <section class="flex flex-col md:grid md:grid-cols-2">
          <h2 class="text-3xl col-span-2 text-center">Check Out These Articles</h2>
          <article class="m-5">
            <div
              class="flex flex-col rounded-lg bg-neutral-700 text-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:max-w-lg xl:flex-row mobile-card">
              <img
                class="h-96 w-full rounded-t-lg object-cover md:h-auto md:!rounded-none xl:!rounded-l-lg mobile-img"
                ngSrc="./assets/MissMJ/distant-bow.jpg"
                alt="" height="997" width="1440"/>
              <div class="flex flex-col justify-start p-6">
                <h5
                  class="mb-2 text-xl font-medium text-neutral-50">
                  River Town Times - Miss MJ
                </h5>
                <p class="mb-4 text-base text-neutral-200 ">
                  River Town Times wrote a small article about the Miss MJ Project, with an interview from Mackie Jones.
                </p>
                <p class="text-xs text-neutral-300">
                  Check it out <a href="https://issuu.com/rivertowntimes2/docs/rttsmallsep20" class="text-primary underline">Here</a>
                </p>
              </div>
            </div>
          </article>
          <article class="m-5">
            <div
              class="flex flex-col rounded-lg bg-neutral-700 text-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:max-w-xl xl:flex-row mobile-card">
              <img
                class="h-96 w-full rounded-t-lg object-cover md:h-auto md:!rounded-none md:!rounded-l-lg mobile-img"
                ngSrc="./assets/MissMJ/full-ship.jpg"
                alt="" height="998" width="1440"/>
              <div class="flex flex-col justify-start p-6">
                <h5
                  class="mb-2 text-xl font-medium text-neutral-50">
                  AM800 - Miss MJ
                </h5>
                <p class="mb-4 text-base text-neutral-200 ">
                  A small Advertisement of the Miss MJ Ship Project on IHeartRadio's website.
                </p>
                <p class="text-xs text-neutral-300">
                  Check it out <a href="https://www.iheartradio.ca/am800/audio/a-160-foot-former-canadian-coast-guard-ship-is-to-become-a-restaurant-and-hotel-in-amherstburg-1.20276117" class="text-primary underline">Here</a>
                </p>
              </div>
            </div>
          </article>
        </section>
      </div>
      <div
        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
        id="tabs-richmond"
        role="tabpanel"
        aria-labelledby="tabs-richmond" data-te-lightbox-init>
          <div class="px-5 py-4">
            <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/Building-Render.jpg" height="2174" width="3606"
                    data-te-img="./assets/Richmond/Building-Render.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/207%20-%20Location%20Map.jpg" height="1069" width="1654"
                    data-te-img="./assets/Richmond/207%20-%20Location%20Map.jpg"/>
                </div>
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/207%20Site%20Plan.jpg" height="1069" width="1654"
                    data-te-img="./assets/Richmond/207%20Site%20Plan.jpg"/>
                </div>
              </div>
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/207%20-%201st%20Flr%20Plan.jpg" height="2511"
                    width="4593"
                    data-te-img="./assets/Richmond/207%20-%201st%20Flr%20Plan.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/207-2-floor-plan.jpg" height="1128" width="2048"
                    data-te-img="./assets/Richmond/207-2-floor-plan.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/207%20-%203rd%20Flr%20Plan.jpg" height="2530" width="4593"
                    data-te-img="./assets/Richmond/207%20-%203rd%20Flr%20Plan.jpg"/>
                </div>
              </div>
            </div>
          </div>
          <div class="px-5 py-4">
            <div class="-m-1 flex flex-wrap md:-m-2 flex-col lg:flex-row mobile-media">
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/207%20-%204th%20Flr%20Plan.jpg" height="2530" width="4593"
                    data-te-img="./assets/Richmond/207%20-%204th%20Flr%20Plan.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/207%20-%202%20Bedroom%20Layout.jpg" height="2378" width="2091"
                    data-te-img="./assets/Richmond/207%20-%202%20Bedroom%20Layout.jpg"/>
                </div>
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/Front-Perspective-Revised.png" height="1069" width="1654"
                    data-te-img="./assets/Richmond/Front-Perspective-Revised.png"/>
                </div>
              </div>
              <div class="flex lg:w-1/2 flex-wrap">
                <div class="w-full p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/Construction%20Site.jpg" height="3024"
                    width="4032"
                    data-te-img="./assets/Richmond/Construction%20Site.jpg"/>
                </div>
                <div class="lg:w-1/2 p-1 md:p-2">
                  <img
                    alt="gallery"
                    class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
                    ngSrc="./assets/Richmond/207%20-%203%20Bedroom%20Layout.jpg" height="2700" width="2077"
                    data-te-img="./assets/Richmond/207%20-%203%20Bedroom%20Layout.jpg"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

