<div class="max-w-sm bg-[#161616] border border-transparent rounded-lg shadow overflow-hidden text-left h-full flex flex-1 flex-col">
    <h1 class="hidden" aria-hidden="true">{{propertyItem.address}}</h1>
	<img class="w-full h-56 object-cover"
		 src="{{propertyItem.thumbnailLink}}"
		 alt="{{propertyItem.altText}}"/>
    <div class="p-5">
        <a href="propertyItem.contactLink" target="_blank"
           class="cursor-pointer hover:underline hover:text-primary focus:underline focus:text-primary">
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-primary">{{propertyItem.address}}</h2>
        </a>
        <p class="mb-3 font-normal text-white">{{propertyItem.description}}</p>
    </div>
    <div class="text-center mt-auto p-2 relative bottom-0">
        <a  [routerLink]="['/details/', propertyItem.id]"
			class="cursor-pointer inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black bg-opacity-50 rounded-lg focus:outline-none hover:bg-neutral-800 hover:text-neutral-400 focus:bg-neutral-800 active:bg-neutral-800 focus:text-neutral-400 active:text-neutral-400">
            View Details
        </a>
    </div>
</div>
