@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: inter, sans-serif;
}

.divider-bottom{
  border-bottom: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #b12016 0%, #faff00 100%);
}

.divider-top{
  border-top: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #b12016 0%, #faff00 100%);
}

app-property-card, app-project-card{
  box-sizing: border-box !important;
  background: #161616;
  border: 0 solid transparent;
  border-radius: 0.375rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #0e0e0e !important;
}



@media (screen and max-width:767px){
  .mobile-media{
    align-items: center;
  }
}

@media (screen and max-width:640px) {

  .mobile-text{
    font-size: 1rem;
  }

  .mobile-button{
    width: 2.75rem;
  }

  .mobile-icons{
    margin-top: 1rem;
  }
}






