<!-- Button trigger modal -->
<a
        type="button"
        class="inline-block rounded mb-2 mt-2.5 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:cursor-pointer overflow-hidden"
        data-te-toggle="modal"
        data-te-target="#modal"
        data-te-ripple-init
        data-te-ripple-color="dark">
    <div
            class="relative max-w-4xl overflow-hidden bg-cover bg-no-repeat h-full"
            data-te-ripple-init
            data-te-ripple-color="black">
        <img
                src="{{featuredItem.thumbnails[0]}}"
                class="max-w-full object-cover"
                alt="overhead view of a boat marina"
                title="Featured Property"
                loading="lazy"/>
        <div
                class="hover:backdrop-blur absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,11%,0.8)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 flex flex-col justify-center items-center">
            <h3 class="lg:text-xl text-primary font-bold">{{featuredItem.address}}</h3>
            <p class="text-white text-opacity-65">
                {{featuredItem.description}}
            </p>
        </div>
    </div>
</a>

<!-- Modal -->
<div
        data-te-modal-init
        class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
        id="modal"
        tabindex="-1"
        aria-labelledby="modalLabel"
        aria-hidden="true">
    <div
            data-te-modal-dialog-ref
            class="bg-[#1e1e1e] pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]">
        <div
                class="bg-[#1e1e1e] min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
            <div
                    class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50 bg-[#1e1e1e]">
                <!--Modal title-->
                <h2
                        class="text-xl font-medium leading-normal text-primary dark:text-neutral-200 bg-[#1e1e1e]"
                        id="modalLabel">
                    {{featuredItem.address}}
                </h2>
                <!--Close button-->

                <button
                        type="button"
                        class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none bg-[#1e1e1e]"
                        data-te-modal-dismiss
                        aria-label="Close">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="white"
                            class="h-6 w-6">
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>

            <!--Modal body-->
            <div class="relative flex-auto p-4 bg-[#1e1e1e]"
                 data-te-modal-body-ref>
                <img ngSrc="{{featuredItem.thumbnails[0]}}"
                     alt="overhead view of a boat marina" fill>
                <section>
                    <h3 class="text-center text-primary text-xl m-2">Contact
                        Info</h3>
                    <section class="flex flex-col">
                        <div class="flex flex-row items-center justify-center"
                             *ngIf="featuredItem.email">
                            <envelope-outline-icon
                                    class="me-2"></envelope-outline-icon>
                            <a href="mailto:{{featuredItem.email}}"
                               class="hover:text-primary">{{featuredItem.email}}</a>
                        </div>
                        <div class="flex flex-row items-center justify-center">
                            <question-mark-circle-outline-icon
                                    class="me-2"></question-mark-circle-outline-icon>
                            <a href="{{featuredItem.contactLink}}"
                               class="text-white hover:text-primary">
                                Visit Us!
                            </a>
                        </div>
                    </section>
                </section>
            </div>

            <!--Modal footer-->
            <div
                    class="flex flex-shrink-0 flex-wrap items-center justify-center dark:border-opacity-50 hover:bg-gradient-to-r focus:bg-gradient-to-r from-secondary to-primary p-0.5 mx-auto my-2 hover:animate-gradient-x focus:animate-gradient-x">
                <button
                        type="button"
                        class="inline-block px-6 py-2 text-xs font-medium uppercase leading-normal bg-[#1e1e1e]"
                        data-te-modal-dismiss
                        data-te-ripple-init
                        data-te-ripple-color="dark">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
